MONGO_URI=mongodb://user%40admin:d51aBv2wk3X27OOD@ac-qv4y4er-shard-00-00.zsg3y2q.mongodb.net:27017,ac-qv4y4er-shard-00-01.zsg3y2q.mongodb.net:27017,ac-qv4y4er-shard-00-02.zsg3y2q.mongodb.net:27017/?ssl=true&authSource=admin
PORT=3000
